#!/usr/bin/env python
# -*- coding: utf-8 -*- #
from __future__ import unicode_literals
import os

TOKEN = os.environ['TOKEN']
CEILING = 10
DUPLICATE_CHECK_TIME = 3600  # seconds -- 60 seconds * 60 minutes
HOST = "0.0.0.0"
PORT = 5000
LOG_ADDR = '/dev/log'
RECAPTCHA_SECRET = os.environ['RECAPTCHA_SECRET']
URL = "https://support.osuosl.org/REST/2.0/"
RT_TOKEN = os.environ['RT_TOKEN']
SENTRY_URI = os.environ['SENTRY_URI']

